body {
    background-color: #000;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header--main {
    color: #fff;
    font-weight: normal;
    font-size: 50px;
}

.link--cta {
    font-size: 16px;
    color: aquamarine;
}